@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

@font-face {
  font-family: OS;
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: OSLight;
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: OSBold;
  src: url(../fonts/OpenSans-Bold.ttf); }
/* RESET */
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden; }

.wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 0 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto; }
  .wrapper_fullHD {
    max-width: 1920px;
    padding: 0; }

.btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  font-family: OSLight, sans-serif;
  color: #ffffff;
  line-height: 70px;
  padding: 0 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }
  .btn:hover {
    opacity: 0.8;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
  .btn.btn_small {
    text-transform: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 300;
    font-family: OSLight, sans-serif;
    color: #ffffff;
    line-height: 40px; }
  .btn_red {
    background: #9F2D20;
    text-transform: uppercase;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
  .btn_user {
    display: flex;
    background: #9F2D20;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    .btn_user img {
      -o-object-fit: contain;
      object-fit: contain;
      width: 20px;
      margin-right: 20px; }
  .btn_grey {
    background: #E8E8E8;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    font-family: OSLight, sans-serif;
    color: #000000;
    line-height: 60px;
    justify-content: center;
    align-items: center; }
    .btn_grey .count {
      background: #9F2D20;
      margin-left: 15px;
      padding: 0 5px;
      font-size: 14px;
      font-weight: 300;
      font-family: OSLight, sans-serif;
      color: #ffffff;
      line-height: 30px; }

.innerTitle {
  font-size: 36px;
  font-weight: 300;
  font-family: OSLight, sans-serif;
  color: #000000;
  line-height: 1; }

.bold {
  font-size: OSBold, sans-serif;
  font-weight: bold; }

header {
  position: relative; }

.header_top {
  display: flex;
  background: #ffffff;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center; }
.header_bottom {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .header_bottom ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-between; }
    .header_bottom ul li {
      position: relative;
      flex-grow: 1;
      text-align: center; }
      .header_bottom ul li:not(:last-child)::after {
        content: "•";
        position: absolute;
        right: 0;
        opacity: 0.7;
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        top: 3px; }
    .header_bottom ul a {
      text-decoration: none;
      font-size: 15px;
      font-weight: 300;
      font-family: OSLight, sans-serif;
      color: #ffffff;
      line-height: 1; }

.logo {
  display: flex;
  align-items: center; }
  .logo img {
    flex-shrink: 0;
    width: 70px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-right: 20px; }
  .logo__text {
    max-width: 340px; }
    .logo__text_top {
      font-size: 20px;
      font-weight: normal;
      font-family: OS, sans-serif;
      color: #000000;
      line-height: 1;
      margin-bottom: 10px; }
    .logo__text_bottom {
      font-size: 14px;
      font-weight: 300;
      font-family: OSLight, sans-serif;
      color: #000000;
      line-height: 1;
      opacity: 0.4; }

.socials {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; }
  .socials li:not(:last-child) {
    margin-right: 10px; }

.s_firstScreen {
  margin-top: -200px;
  margin-bottom: 70px; }
  .s_firstScreen .wrapper_fullHD {
    background-size: cover; }

.firstScreen {
  padding-top: 300px;
  padding-bottom: 100px; }
  .firstScreen .blur {
    background: rgba(0, 0, 0, 0.5);
    width: 55%;
    padding: 50px 60px; }
  .firstScreen__content {
    font-size: 48px;
    font-weight: 300;
    font-family: OSLight, sans-serif;
    color: #ffffff;
    line-height: 1.4;
    margin-bottom: 40px; }
  .firstScreen .btn::after {
    content: "›";
    font-weight: bold;
    margin-left: 20px; }

.s_about {
  margin-bottom: 70px; }

.about {
  display: flex;
  justify-content: space-between; }
  .about .innerTitle {
    margin-bottom: 80px; }
  .about__content {
    display: flex;
    width: 65%;
    justify-content: space-between;
    flex-shrink: 0; }
    .about__content_left {
      width: 48%; }
      .about__content_left img {
        -o-object-fit: cover;
        object-fit: cover;
        max-width: 100%;
        height: 500px; }
    .about__content_right {
      width: 48%; }
      .about__content_right p {
        font-size: 15px;
        font-weight: normal;
        font-family: OS, sans-serif;
        color: #000000;
        line-height: 1.3;
        margin: 0; }
        .about__content_right p:not(:last-child) {
          margin-bottom: 20px; }
  .about__advantages {
    width: 30%;
    flex-shrink: 0; }
    .about__advantages .innerTitle {
      margin-bottom: 40px; }
    .about__advantages ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    .about__advantages li {
      display: flex;
      align-items: center;
      justify-content: center; }
      .about__advantages li:not(:last-child) {
        margin-bottom: 15px; }
      .about__advantages li p {
        margin: 0; }
    .about__advantages__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #9F2D20;
      width: 80px;
      height: 80px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      flex-shrink: 0;
      margin-right: 30px; }
      .about__advantages__icon img {
        width: 40px;
        height: 40px; }

.s_team {
  background: #63737A;
  margin-bottom: 70px; }

.team {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .team .innerTitle {
    color: #ffffff;
    margin-bottom: 40px; }
  .team p {
    font-size: 18px;
    font-weight: normal;
    font-family: OS, sans-serif;
    color: #ffffff;
    line-height: 1.4;
    margin: 0; }
  .team_left {
    width: 60%;
    flex-shrink: 0; }
  .team_right ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .team_right li {
    display: flex;
    align-items: center; }
    .team_right li:first-child {
      margin-bottom: 40px; }
  .team_right__content {
    margin-left: 40px; }
    .team_right__content__num {
      font-size: 52px;
      font-weight: bold;
      font-family: OSBold, sans-serif;
      color: #ffffff;
      line-height: 1; }

.with {
  display: flex;
  justify-content: space-between; }
  .with .innerTitle {
    max-width: 150px; }
  .with__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between; }
    .with__list li {
      width: 48%;
      display: flex;
      align-items: flex-start;
      margin-bottom: 50px; }
      .with__list li img {
        width: 50px;
        margin-right: 40px; }
      .with__list li p {
        margin: 0; }

.s_programs {
  margin-bottom: 60px; }
  .s_programs .wrapper_fullHD {
    background: url("../images/Vector.png") 100% 100% no-repeat;
    background-size: cover; }

.programs {
  padding: 50px 0; }
  .programs .innerTitle {
    text-align: center;
    margin-bottom: 50px; }
  .programs__slider__item {
    background: #ffffff;
    text-align: center;
    margin: 0 10px; }
    .programs__slider__item > img {
      height: 250px;
      margin: 0;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .programs__slider__item__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #9F2D20;
      width: 70px;
      height: 70px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      margin: 0 auto; }
      .programs__slider__item__icon img {
        width: 30px;
        height: 30px; }
    .programs__slider__item__title {
      font-size: 18px;
      font-weight: 300;
      font-family: OSLight, sans-serif;
      color: #000000;
      line-height: 1.3;
      margin-bottom: 20px;
      padding: 0 20px; }
    .programs__slider__item p {
      padding: 0 20px;
      font-size: 13px;
      font-weight: 300;
      font-family: OSLight, sans-serif;
      color: #000000;
      line-height: 1;
      margin-bottom: 20px; }

.slick-slide:focus, .slick-slide:active {
  outline: none; }

.slick-list {
  margin: 0 -10px; }

.slick-dots {
  list-style: none;
  display: flex;
  font-size: 0;
  margin-top: 60px;
  justify-content: center;
  padding: 0; }
  .slick-dots li:not(:last-child) {
    margin-right: 30px; }
  .slick-dots li.slick-active button {
    background: #9F2D20; }
  .slick-dots button {
    padding: 0;
    width: 10px;
    height: 10px;
    background: #63737A;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none; }
    .slick-dots button:focus, .slick-dots button:active {
      outline: none; }

.slick-arrow {
  position: absolute;
  background: #F7F7F5;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.slick-prev {
  left: -100px; }

.slick-next {
  right: -100px; }
  .slick-next img {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.s_teachers {
  margin-bottom: 60px; }
  .s_teachers .innerTitle {
    text-align: center;
    margin-bottom: 60px; }

.teachers__slider {
  margin-bottom: 60px; }
  .teachers__slider__item {
    overflow: hidden;
    border: 1px solid #DCDCDC;
    padding: 5px;
    background: #ffffff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 10px; }
    .teachers__slider__item img {
      height: 320px;
      margin: 0 0 20px;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .teachers__slider__item__title {
      font-size: 18px;
      font-weight: 300;
      font-family: OSLight, sans-serif;
      color: #000000;
      line-height: 1.3;
      margin-bottom: 20px;
      padding: 0 20px;
      text-align: center; }
    .teachers__slider__item p {
      padding: 0 20px;
      font-size: 13px;
      font-weight: 300;
      font-family: OSLight, sans-serif;
      color: #000000;
      line-height: 1;
      margin-bottom: 20px;
      text-align: center; }
    .teachers__slider__item ul {
      font-size: 14px;
      font-weight: normal;
      font-family: OS, sans-serif;
      color: #9F2D20;
      line-height: 1.3; }
      .teachers__slider__item ul li:not(:last-child) {
        margin-bottom: 20px; }
      .teachers__slider__item ul li span {
        color: #000000; }
.teachers__all {
  text-align: center; }

.s_news {
  background: #F7F7F5;
  padding: 60px 0; }

.news {
  display: flex;
  justify-content: space-between; }
  .news_left {
    width: 25%;
    flex-shrink: 0; }
    .news_left .btn {
      display: block;
      text-align: center; }
  .news_right {
    width: 70%;
    display: flex;
    justify-content: space-between; }
  .news .innerTitle {
    margin-bottom: 60px; }
  .news__links {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 0 40px;
    padding: 0; }
    .news__links li:not(:last-child) {
      border-bottom: 1px solid #63737A; }
    .news__links li a {
      font-size: 18px;
      font-weight: 300;
      font-family: OSLight, sans-serif;
      color: #000000;
      line-height: 40px;
      text-decoration: none;
      -moz-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      -webkit-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
      .news__links li a:hover {
        -moz-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        -webkit-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        color: #9F2D20; }
  .news__item {
    display: flex;
    flex-direction: column;
    width: 48%;
    background: #9F2D20;
    text-decoration: none; }
    .news__item:last-child {
      background: rgba(0, 0, 0, 0.8); }
    .news__item img {
      height: 300px;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .news__item > div {
      padding: 25px; }
    .news__item__anons {
      font-size: 18px;
      font-weight: 300;
      font-family: OSLight, sans-serif;
      color: #ffffff;
      line-height: 1.3;
      margin-bottom: 20px; }
    .news__item__date {
      font-size: 13px;
      font-weight: 300;
      font-family: OSLight, sans-serif;
      color: #ffffff;
      line-height: 1;
      opacity: 0.6; }

.s_partners {
  background: #F2F2F2;
  margin-bottom: 60px; }
  .s_partners .innerTitle {
    text-align: center;
    margin-bottom: 60px; }

.partners {
  padding: 60px 0; }
  .partners p {
    text-align: center;
    max-width: 810px;
    margin: 0 auto 70px;
    font-size: 14px;
    font-weight: normal;
    font-family: OS, sans-serif;
    color: #000000;
    line-height: 1.5; }
  .partners__item {
    background: #ffffff;
    padding: 30px 40px; }
    .partners__item img {
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      height: 60px;
      margin-bottom: 30px; }
    .partners__item p {
      font-size: 13px;
      font-weight: normal;
      font-family: OS, sans-serif;
      color: #000000;
      line-height: 1.4;
      margin: 0 auto; }

.s_faq {
  margin-bottom: 70px; }

.faq .innerTitle {
  margin-bottom: 50px; }
.faq__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
.faq__acc {
  width: 70%; }
  .faq__acc__item {
    margin-bottom: 10px; }
    .faq__acc__item__name {
      font-size: 20px;
      font-weight: normal;
      font-family: OS, sans-serif;
      color: #000000;
      line-height: 60px;
      border: 1px solid #E8E8E8;
      padding: 0 30px;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .faq__acc__item__content {
      border: 1px solid #E8E8E8;
      padding: 20px 30px;
      border-top: none;
      display: none; }
      .faq__acc__item__content p {
        font-size: 14px;
        font-weight: normal;
        font-family: OS, sans-serif;
        color: #000000;
        line-height: 1.4; }
        .faq__acc__item__content p:not(:last-child) {
          margin-bottom: 20px; }
        .faq__acc__item__content p strong {
          font-weight: bold;
          font-family: OSBold, sans-serif; }
      .faq__acc__item__content ul {
        list-style: none;
        margin: 0 0 20px;
        padding: 0; }
        .faq__acc__item__content ul li {
          font-size: 14px;
          font-weight: normal;
          font-family: OS, sans-serif;
          color: #000000;
          line-height: 1;
          opacity: 0.7; }
          .faq__acc__item__content ul li::before {
            content: "•";
            color: #9F2D20;
            margin-right: 10px; }
          .faq__acc__item__content ul li:not(:last-child) {
            margin-bottom: 15px; }
.faq__aside {
  background: #63737A;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 0;
  flex-shrink: 0; }
  .faq__aside__icon {
    background: #738188;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; }
    .faq__aside__icon img {
      width: 30px; }
  .faq__aside p {
    padding: 0 30px;
    font-size: 24px;
    font-weight: 300;
    font-family: OSLight, sans-serif;
    color: #ffffff;
    line-height: 1.3;
    margin: 0 0 40px;
    text-align: center; }
  .faq__aside .btn {
    width: 100%;
    text-align: center; }

.s_feedback {
  background: #F2F2F2;
  padding: 70px 0; }

.feedback .innerTitle {
  margin-bottom: 60px;
  text-align: center; }
.feedback__item {
  display: flex;
  align-items: flex-start;
  padding: 30px;
  background: #ffffff;
  margin-bottom: 15px; }
  .feedback__item_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    margin-right: 40px; }
    .feedback__item_left p {
      font-size: 13px;
      font-weight: 300;
      font-family: OSLight, sans-serif;
      color: #000000;
      line-height: 1; }
    .feedback__item_left img {
      width: 100px;
      height: 100px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -o-object-fit: cover;
      object-fit: cover;
      margin-bottom: 20px; }
  .feedback__item__name {
    font-size: 16px;
    font-weight: 300;
    font-family: OSLight, sans-serif;
    color: #000000;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 20px; }
  .feedback__item_right p {
    font-size: 14px;
    font-weight: 300;
    font-family: OSLight, sans-serif;
    color: #000000;
    line-height: 1.4;
    opacity: 0.6; }
  .feedback__item__title {
    padding-left: 40px;
    font-size: 24px;
    font-weight: 300;
    font-family: OSLight, sans-serif;
    color: #000000;
    line-height: 1;
    margin-bottom: 30px; }

.footer {
  display: flex;
  justify-content: space-between; }
  .footer_top {
    background: #63737A;
    padding: 75px 0; }
  .footer__address {
    display: flex;
    flex-direction: column; }
    .footer__address__item {
      display: flex;
      align-items: center; }
      .footer__address__item:not(:last-child) {
        margin-bottom: 10px; }
      .footer__address__item__icon {
        margin-right: 20px;
        width: 40px;
        height: 40px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center; }
        .footer__address__item__icon img {
          width: 15px;
          height: 15px; }
      .footer__address__item p {
        font-size: 14px;
        font-weight: normal;
        font-family: OS, sans-serif;
        color: #ffffff;
        line-height: 1; }
      .footer__address__item .phone {
        font-size: 24px;
        font-weight: normal;
        font-family: OS, sans-serif;
        color: #ffffff;
        line-height: 1;
        text-decoration: none; }
      .footer__address__item .mail {
        font-size: 14px;
        font-weight: normal;
        font-family: OS, sans-serif;
        color: #ffffff;
        line-height: 1;
        text-decoration: none; }
  .footer__nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .footer__nav ul li:not(:last-child) {
      margin-bottom: 15px; }
  .footer__nav a {
    font-size: 15px;
    font-weight: normal;
    font-family: OS, sans-serif;
    color: #ffffff;
    line-height: 1;
    text-decoration: none; }
    .footer__nav a:hover {
      color: #B8B8B8;
      text-decoration: none; }
  .footer .links {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footer .links__title {
      font-size: 18px;
      font-weight: bold;
      font-family: OSBold, sans-serif;
      color: #ffffff;
      line-height: 1;
      margin-bottom: 20px; }
    .footer .links p {
      font-size: 15px;
      font-weight: normal;
      font-family: OS, sans-serif;
      color: #9F9F9F;
      line-height: 1; }
      .footer .links p a {
        font-size: 15px;
        font-weight: normal;
        font-family: OS, sans-serif;
        color: #ffffff;
        line-height: 1;
        text-decoration: none; }
  .footer_bottom {
    padding: 15px 0; }
    .footer_bottom .wrapper {
      display: flex;
      justify-content: space-between; }
    .footer_bottom .copyright {
      font-size: 13px;
      font-weight: 300;
      font-family: OSLight, sans-serif;
      color: #000000;
      line-height: 1; }
    .footer_bottom .privacy {
      font-size: 13px;
      font-weight: 300;
      font-family: OSLight, sans-serif;
      color: #000000;
      line-height: 1;
      text-decoration: none; }
    .footer_bottom .developer {
      font-size: 13px;
      font-weight: 300;
      font-family: OSLight, sans-serif;
      color: #000000;
      line-height: 1; }
      .footer_bottom .developer a {
        color: #9F2D20;
        text-decoration: none; }

@font-face {
  font-family: OS;
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: OSLight;
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: OSBold;
  src: url(../fonts/OpenSans-Bold.ttf); }
.header__hamburger, .headerNav_adaptive {
  display: none; }

.adaptive-menu-toggle {
  display: block;
  width: 30px;
  height: 24px;
  z-index: 99;
  position: relative;
  margin: auto; }

.menu-toggle-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.menu-toggle-line {
  position: absolute;
  background: red;
  display: block;
  margin: auto;
  height: 4px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.menu-toggle-line--1 {
  top: 0;
  -moz-transition: width 0.2s ease 0.3s;
  -o-transition: width 0.2s ease 0.3s;
  -webkit-transition: width 0.2s ease 0.3s;
  transition: width 0.2s ease 0.3s; }

.menu-toggle-line--2 {
  top: 0;
  bottom: 0;
  margin: auto;
  -moz-transition: width 0.2s ease 0.3s;
  -o-transition: width 0.2s ease 0.3s;
  -webkit-transition: width 0.2s ease 0.3s;
  transition: width 0.2s ease 0.3s; }

.menu-toggle-line--3 {
  bottom: 0;
  -moz-transition: width 0.2s ease 0.3s;
  -o-transition: width 0.2s ease 0.3s;
  -webkit-transition: width 0.2s ease 0.3s;
  transition: width 0.2s ease 0.3s; }

.menu-toggle-line--4,
.menu-toggle-line--5 {
  opacity: 0;
  top: 10px; }

.menu-toggle-line--4 {
  -webkit-transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
  transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
  -o-transition: opacity 0.2s ease 0.2s, -o-transform 0.2s ease 0.2s;
  -moz-transition: opacity 0.2s ease 0.2s, transform 0.2s ease 0.2s, -moz-transform 0.2s ease 0.2s; }

.menu-toggle-line--5 {
  -webkit-transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s, -o-transform 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s, transform 0.2s ease 0s, -moz-transform 0.2s ease 0s; }

.adaptive-menu-toggle--open .menu-toggle-line {
  background: red; }

.adaptive-menu-toggle--open .menu-toggle-line--1 {
  width: 0;
  -moz-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
  -webkit-transition: width 0.2s ease 0s;
  transition: width 0.2s ease 0s; }

.adaptive-menu-toggle--open .menu-toggle-line--2 {
  width: 0;
  -moz-transition: width 0.2s ease 0.1s;
  -o-transition: width 0.2s ease 0.1s;
  -webkit-transition: width 0.2s ease 0.1s;
  transition: width 0.2s ease 0.1s; }

.adaptive-menu-toggle--open .menu-toggle-line--3 {
  width: 0;
  -moz-transition: width 0.2s ease 0.2s;
  -o-transition: width 0.2s ease 0.2s;
  -webkit-transition: width 0.2s ease 0.2s;
  transition: width 0.2s ease 0.2s; }

.adaptive-menu-toggle--open .menu-toggle-line--4 {
  opacity: 1;
  -moz-transform: rotate(45deg) translateZ(0);
  -ms-transform: rotate(45deg) translateZ(0);
  -o-transform: rotate(45deg) translateZ(0);
  -webkit-transform: rotate(45deg) translateZ(0);
  transform: rotate(45deg) translateZ(0);
  -webkit-transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
  transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
  -o-transition: opacity 0.2s ease 0.2s, -o-transform 0.2s ease 0.2s;
  -moz-transition: opacity 0.2s ease 0.2s, transform 0.2s ease 0.2s, -moz-transform 0.2s ease 0.2s; }

.adaptive-menu-toggle--open .menu-toggle-line--5 {
  opacity: 1;
  -moz-transform: rotate(-45deg) translateZ(0);
  -ms-transform: rotate(-45deg) translateZ(0);
  -o-transform: rotate(-45deg) translateZ(0);
  -webkit-transform: rotate(-45deg) translateZ(0);
  transform: rotate(-45deg) translateZ(0);
  -webkit-transition: opacity 0.2s ease 0.4s, -webkit-transform 0.2s ease 0.4s;
  transition: opacity 0.2s ease 0.4s, -webkit-transform 0.2s ease 0.4s;
  -o-transition: opacity 0.2s ease 0.4s, -o-transform 0.2s ease 0.4s;
  -moz-transition: opacity 0.2s ease 0.4s, transform 0.2s ease 0.4s, -moz-transform 0.2s ease 0.4s; }

@media only screen and (max-width: 640px) {
  .header__hamburger {
    display: block !important;
    position: absolute;
    right: 10px;
    top: 20px; }

  .headerNav_adaptive {
    background: grey;
    display: none;
    padding-top: 60px;
    position: absolute;
    top: 0;
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 100%;
    z-index: 3; }

  .header_opened {
    display: block !important;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }

  .headerNav__items_adaptive a {
    background: grey;
    border: #000000 1px solid;
    border-bottom: none;
    color: red;
    display: block;
    font-family: "Museo Sans Cyrl -300", sans-serif;
    font-size: 17px;
    padding: 10px;
    text-decoration: none; }

  .headerNav__items_adaptive li:last-child a {
    border-bottom: #000000 1px solid; } }
/* RESPONSIVE */
@font-face {
  font-family: OS;
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: OSLight;
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: OSBold;
  src: url(../fonts/OpenSans-Bold.ttf); }

/*# sourceMappingURL=style.css.map */
